*.zip filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.fsi filter=lfs diff=lfs merge=lfs -text
*.cab filter=lfs diff=lfs merge=lfs -text
*.package filter=lfs diff=lfs merge=lfs -text
*.L5X filter=lfs diff=lfs merge=lfs -text
*.acd filter=lfs diff=lfs merge=lfs -text
